@charset "UTF-8";

body{
    color: rgb(255, 254, 254);
}
header{
    display: block;
    text-align: center;
    background-color: rgb(112, 146, 175);
    padding: 10px;
    margin-left: -10px;
    margin-right: -5px;
    margin-top: -20px;
    margin-bottom: 30px;
}
main{
    display: block;
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: rgb(112, 146, 175);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    border-radius: 5px ;
}

#infos, #app, #senior, #tech{
    margin-bottom: 45px;
}

#nome, #email, #tel{
    display: block;
    background-color: rgba(0, 255, 255, 0.315);
    border-radius: 4px;
    padding: 3px;
    margin: auto;
}
#infos{
    display: block;
    text-align: center;
    padding-top: 10px;
}
#enviar{
    display: block;
    background-color: rgba(0, 0, 255, 0.521);
    margin: auto;
    padding: 3px;
    width: 120px;
    border-radius: 6px;
    margin-top: 30px;
 
}
#es{
    display: block;
    margin: auto;
    height: 150px;
    width: 98%;
}